<!-- UMD Customization -->
<ds-umd-header></ds-umd-header>
<ds-umd-environment-banner></ds-umd-environment-banner>
<ds-json-ld-website scriptId='json-ld-website'></ds-json-ld-website>
<!-- End UMD Customization -->
<header class="header">
  <nav role="navigation" [attr.aria-label]="'nav.user.description' | translate" class="container navbar navbar-expand-md px-0">
    <div class="d-flex flex-grow-1">
      <a class="navbar-brand m-2" routerLink="/home">
        <!-- UMD Customization -->
        <img src="assets/drum/images/drum-logo.svg" [attr.alt]="'menu.header.image.logo' | translate" />
        <!-- End UMD Customization -->
      </a>
    </div>
      <ds-themed-search-navbar></ds-themed-search-navbar>
        </button>
      </div>
    </div>
</header>
