<div class="container">
  <div class="etdunit-form row">
    <div class="col-12">

      <div *ngIf="etdunitDataService.getActiveEtdUnit() | async; then editheader; else createHeader"></div>

      <ng-template #createHeader>
        <h2 class="border-bottom pb-2">{{messagePrefix + '.head.create' | translate}}</h2>
      </ng-template>

      <ng-template #editheader>
        <h2 class="border-bottom pb-2">{{messagePrefix + '.head.edit' | translate}}</h2>
      </ng-template>

      <ds-form [formId]="formId" [formModel]="formModel" [formGroup]="formGroup" [formLayout]="formLayout"
        [displayCancel]="false" (submitForm)="onSubmit()">
        <div before class="btn-group">
          <button (click)="onCancel()" class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i>
            {{messagePrefix + '.return' | translate}}</button>
        </div>
        <div after *ngIf="etdunitBeingEdited != null" class="btn-group">
          <button class="btn btn-danger delete-button" [disabled]="!(canEdit$ | async)" (click)="delete()">
            <i class="fa fa-trash"></i> {{ messagePrefix + '.actions.delete' | translate}}
          </button>
        </div>
      </ds-form>
      <h3 class="border-bottom pb-2">{{ 'admin.core.etdunits.form.collection-mapper.mapped-collections.head' |
        translate}}</h3>
      <div>
        <ds-collection-select class="mt-2" [key]="'browse'" [dsoRD$]="etdunitCollectionsRD$"
          [paginationOptions]="(searchOptions$ | async)?.pagination"
          [confirmButton]="'admin.core.etdunits.form.collection-mapper.buttons.remove'"
          [cancelButton]="'admin.core.etdunits.form.collection-mapper.cancel'" [dangerConfirm]="true"
          (confirm)="removeMappings($event)" (cancel)="onCancel()"></ds-collection-select>
      </div>
      <br />
      <h3 class="border-bottom pt-2 pb-2">{{ 'admin.core.etdunits.form.collection-mapper.head' | translate}}</h3>
      <div class="row mt-2">
        <div class="col-12 col-lg-6">
          <ds-search-form id="search-form" [query]="(searchOptions$ | async)?.query" [currentUrl]="'./'"
            [inPlaceSearch]="true"
            [searchPlaceholder]="'admin.core.etdunits.form.collection-mapper.search-form.placeholder' | translate"
            (submitSearch)="performedSearch = true">
          </ds-search-form>
        </div>
      </div>
      <div *ngIf="performedSearch">
        <ds-collection-select class="mt-2" [key]="'map'" [dsoRD$]="mappableCollectionsRD$"
          [paginationOptions]="(searchOptions$ | async)?.pagination" [sortOptions]="(searchOptions$ | async)?.sort"
          [confirmButton]="'admin.core.etdunits.form.collection-mapper.buttons.add'"
          [cancelButton]="'admin.core.etdunits.form.collection-mapper.cancel'" (confirm)="mapCollections($event)"
          (cancel)="onCancel()"></ds-collection-select>
      </div>
      <div *ngIf="!performedSearch" class="alert alert-info w-100" role="alert">
        {{'admin.core.etdunits.form.collection-mapper.no-search' | translate}}
      </div>
    </div>
  </div>
</div>