<div class="container">
  <div class="etdunit-form row">
    <div class="col-12">

      @if (etdunitDataService.getActiveEtdUnit() | async) {
        <h2 class="border-bottom pb-2">{{messagePrefix + '.head.edit' | translate}}</h2>
      } @else {
        <h2 class="border-bottom pb-2">{{messagePrefix + '.head.create' | translate}}</h2>
      }



      <ds-form [formId]="formId" [formModel]="formModel" [formGroup]="formGroup" [formLayout]="formLayout"
        [displayCancel]="false" (submitForm)="onSubmit()">
        <div before class="btn-group">
          <button (click)="onCancel()" class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i>
        {{messagePrefix + '.return' | translate}}</button>
      </div>
      @if ((canEdit$ | async)) {
        <div after class="btn-group">
          <button (click)="delete()" class="btn btn-danger delete-button" type="button">
            <i class="fa fa-trash"></i> {{ messagePrefix + '.actions.delete' | translate}}
          </button>
        </div>
      }
    </ds-form>

    @if (etdunitBeingEdited !== undefined) {
      <ds-etdunit-collections-list
      [messagePrefix]="messagePrefix + '.collections-list'"></ds-etdunit-collections-list>
    }

  </div>
</div>
</div>
