// Import "dspace" theme to use as base
@import '../../dspace/styles/global-styles.scss';

// Customizations for "drum" theme

:root {
  // The height of the campus-provided UMD banner, in pixels
  --umd-ds-umd-campus-banner-height: 44px;
}

// LIBDRUM-879 - Place the z-index of UMD banner below that of the modal
// dialogs. This enables modal dialogs to overlap the UMD banner, if necessary,
// instead of being obscured by it. This also ensures that Cypress end-to-end
// tests that check accessibility will pass successfully.
//
// Need the full "body div.umdheader-wrap" selector to override the
// "umdheader-wrap" selector provided with the UMD banner
body div.umdheader-wrap {
  z-index: ($zindex-modal - 100) !important;
}

// LIBDRUM-694 - Add "margin-top" to notifications-wrapper defined in
// src/app/shared/notifications/notifications-board/notifications-board.component.scss
// in order to push notifications appearing in the upper-right corner of the
// page down far enough that the timer bar and "Close" button will not be
// obscured by the UMD campus banner
.notifications-wrapper.top {
  margin-top: var(--umd-ds-umd-campus-banner-height);
}

/* hero section */
.page-title {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 120% */
}

.page-subtitle {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

/* search button (Home page only) */
.home-search button {
  background-color: #e21833;
  border-color: #e21833;

  text-transform: uppercase;
}

.home-search button:hover {
  background-color: #9a0217;
  border-color: #9a0217;
}

/* card group */
.home-card-group {
  width: auto;
  min-height: 500px;

  margin: 32px 0px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

@media (max-width: 767px) {
  .home-card-group {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .home-card-group {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* card */
.home-card-group .card {
  border: 1px solid var(--border-sytem-primary, #6d7078);
  border-radius: 0px;
}

/* card image */
.home-card-group .card-img img {
  max-width: 100%;
  height: auto;
}

/* card body */
.home-card-group .card-body {
  background-color: white;

  height: fit-content;

  padding: 16px 24px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

/* card title */
.home-card-group .card-title {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px; /* 150% */

  margin: 0px;
  padding: 0px;
}

/* card description */
.home-card-group .card-text {
  color: #6d7078;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* card link in description */
.home-card-group .card-text a {
  color: #e21833;
  text-decoration-line: underline;
}

.home-card-group .card-text a:hover {
  color: #9a0217;
  text-decoration-line: underline;
}

/* card content divider */
.home-card-group .divider {
  background: var(--background-system-tertiary, #e9eaef);

  width: 48px;
  height: 4px;
}
