// Override or add CSS variables for your theme here

// Import "dspace" theme to use as base
@import '../../dspace/styles/_theme_css_variable_overrides.scss';

// Customizations for "drum" theme
:root {
  --ds-header-logo-height: 70px;
  --ds-home-news-link-color: #ffd200; // "Maryland Gold", see https://brand.umd.edu/colors
  --ds-home-news-link-hover-color: #ffd200;
}

