<div class="container">
  <div class="unit-form row">
    <div class="col-12">

      <div *ngIf="unitDataService.getActiveUnit() | async; then editheader; else createHeader"></div>

      <ng-template #createHeader>
        <h2 class="border-bottom pb-2">{{messagePrefix + '.head.create' | translate}}</h2>
      </ng-template>

      <ng-template #editheader>
        <h2 class="border-bottom pb-2">{{messagePrefix + '.head.edit' | translate}}</h2>
      </ng-template>

      <ds-form [formId]="formId"
               [formModel]="formModel"
               [formGroup]="formGroup"
               [formLayout]="formLayout"
               [displayCancel]="false"
               (submitForm)="onSubmit()">
        <div before class="btn-group">
          <button (click)="onCancel()"
                  class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i> {{messagePrefix + '.return' | translate}}</button>
        </div>
        <div after *ngIf="unitBeingEdited != null" class="btn-group">
          <button class="btn btn-danger delete-button" [disabled]="!(canEdit$ | async)"
                  (click)="delete()">
            <i class="fa fa-trash"></i> {{ messagePrefix + '.actions.delete' | translate}}
          </button>
        </div>
      </ds-form>
<!--
      <div class="mb-5">
        <ds-members-list *ngIf="unitBeingEdited != null"
                         [messagePrefix]="messagePrefix + '.members-list'"></ds-members-list>
      </div> -->
      <ds-unit-groups-list *ngIf="unitBeingEdited != null"
                         [messagePrefix]="messagePrefix + '.groups-list'"></ds-unit-groups-list>



    </div>
  </div>
</div>
