<ng-container *ngVar="(communityGroupsRD$ | async) as communityGroupsRD">
  <div *ngIf="communityGroupsRD?.hasSucceeded ">
    <h2>{{'home.top-level-communities.head' | translate}}</h2>
    <p class="lead">{{'home.top-level-communities.help' | translate}}</p>
    <div *ngFor="let communityGroup of (communityGroupsRD$ | async)?.payload?.page">
      <h3>{{communityGroup.name}}</h3>
      <ds-group-community-list [communityGroup]="communityGroup"></ds-group-community-list>
    </div>
  </div>
  <ds-error *ngIf="communityGroupsRD?.hasFailed " message="{{'error.top-level-communites' | translate}}"></ds-error>
  <ds-loading *ngIf="communityGroupsRD?.isLoading " message="{{'loading.top-level-communities' | translate}}">
  </ds-loading>
</ng-container>