rest:
  ssl: true
  host: api7.dspace.org
  port: 443
  nameSpace: /server

themes:
  - name: 'drum'
    extends: 'dspace'
    # Whenever this theme is active, the following tags will be injected into the <head> of the page.
    # Example use case: set the favicon based on the active theme.
    headTags:
    # Insert <link rel="icon" href="assets/dspace/images/favicons/favicon.ico" sizes="any"/> into the <head> of the page.
    - tagName: link
      attributes:
        rel: icon
        href: assets/drum/images/favicons/favicon.ico
        sizes: any
  - name: 'dspace'

# LIBDRUM-666 - Add PRESERVATION to default standard bundles list
bundle:
  standardBundles: [ ORIGINAL, THUMBNAIL, LICENSE, PRESERVATION ]
