<div class="container">
  <div class="d-flex justify-content-between">
    <h2>{{ 'embargo-list.title' | translate }}</h2>
    <ds-embargo-list-export-csv></ds-embargo-list-export-csv>
  </div>
</div>
@if (embargoListResponseInitialised | async) {
  <div class="container">
    @if (embargoListResponse | async; as entries) {
      <div>
        <ds-embargo-list [embargoListResponse]="entries"></ds-embargo-list>
      </div>
    } @else {
      <ds-alert [type]="'alert-danger'" [content]="'embargo-list.error.msg'"></ds-alert>
    }
  </div>
}
