// This file is based on src/themes/dspace/app/home-page/home-news/home-news.component.scss
:host {
  display: block;
  margin-top: calc(var(--ds-content-spacing) * -1);

  div.background-image-container {
    color: white;
    position: relative;

    .background-image > img {
      // UMD Customization
      background-color: #e21833; // "Maryland Red", see https://brand.umd.edu/colors
      // End UMD Customization
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }

    .container {
      position: relative;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);

      &:before, &:after {
        content: '';
        display: block;
        width: var(--ds-banner-background-gradient-width);
        height: 100%;
        top: 0;
        position: absolute;
      }

      &:before {
        background: linear-gradient(to left, var(--ds-banner-text-background), transparent);
        left: calc(-1 * var(--ds-banner-background-gradient-width));

      }

      &:after {
        background: linear-gradient(to right, var(--ds-banner-text-background), transparent);
        right: calc(-1 * var(--ds-banner-background-gradient-width));
      }

      background-color: var(--ds-banner-text-background);
    }


    small.credits {
      a {
        color: inherit;
      }

      opacity: 0.3;
      position: absolute;
      right: var(--bs-spacer);
      bottom: 0;
    }
  }

  .jumbotron {
    background-color: transparent;

    // UMD Customization
    // Increase font sizes in "hero image" by 20%
    p.lead {
      font-size: 1.5rem;
    }


    p {
      font-size: 1.2rem;
    }

    ul {
      font-size: 1.2rem;
    }
    // End UMD Customization
  }

  a {
    color: var(--ds-home-news-link-color);

    @include hover {
      color: var(--ds-home-news-link-hover-color);
    }
  }
}


