<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <p class="lead" style="font-weight: bold;">
            Welcome to the repository for University of Maryland research.
          </p>
        </div>
      </div>
      <p>
        The Digital Repository at the University of Maryland (DRUM) collects,
        preserves, and provides public access to the scholarly output of the
        university. Faculty and researchers can upload research products for
        rapid dissemination, global visibility and impact, and long-term
        preservation.
      </p>
      <ul>
        <li>
          Faculty may use DRUM to fulfill the
          <a href="https://equitableaccess.umd.edu/">
            Equitable Access to Scholarly Articles Authored by University Faculty
          </a>
          policy, and in many cases may use it to fulfill open access requirements
          from grant funding agencies.
        </li>
        <li>
          Departments can use DRUM to publish or distribute their working
          papers, technical reports, or other research material.
        </li>
        <li>
          DRUM also includes all UMD theses and dissertations from 2003 forward.
        </li>
      </ul>
      <p>
        To learn more about DRUM, and how you can make your research openly
        accessible to the public, visit our
        <a href="https://www.lib.umd.edu/research/drum">
          DRUM policies website.
        </a>
      </p>
    </div>
  </div>
  <picture class="background-image">
    <img alt="" [src]="'assets/drum/images/drum-background-image.jpg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
</div>
