<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="page-title">
            DRUM - Digital Repository at the
            University of Maryland
          </h1>
        </div>
      </div>
      <p class="page-subtitle">
        DRUM collects, preserves, and provides public
        access to the scholarly output of the
        university. Faculty and researchers can upload
        research products for rapid dissemination,
        global visibility and impact, and long-term
        preservation.
      </p>
    </div>
  </div>
</div>
