<ds-home-news></ds-home-news>
<div class="container">
  <ng-container *ngIf="(site$ | async) as site">
    <ds-view-tracker [object]="site"></ds-view-tracker>
  </ng-container>
  <!-- UMD Customization -->
  <ds-search-form class="home-search" [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-search-form>
  <div class="home-card-group">
    <div class="card">
      <div class="card-img">
        <img
          loading="lazy"
          src="assets/drum/images/submit.png"
          alt="Submit to DRUM"
        />
      </div>
      <div class="card-body">
        <h2 class="card-title">Submit to DRUM</h2>
        <div class="divider"></div>
        <div class="card-text">
          To submit an item to DRUM, login using your UMD credentials. Then select
          the "Submit Item to DRUM" link in the navigation bar.
          <a
            href="https://www.lib.umd.edu/research/oss/publishing-and-digital-projects/repository-services/drum"
            >View DRUM policies and submission guidelines</a
          >.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-img">
        <img
          loading="lazy"
          src="assets/drum/images/eap.png"
          alt="Equitable Access Policy"
        />
      </div>
      <div class="card-body">
        <h2 class="card-title">Equitable Access Policy</h2>
        <div class="divider"></div>
        <div class="card-text">
          The University of Maryland Equitable Access Policy provides equitable,
          open access to the University's research and scholarship. Faculty can
          learn more about what is covered by the policy and how to deposit on the
          <a href="https://equitableaccess.umd.edu/">policy website</a>.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-img">
        <img
          loading="lazy"
          src="assets/drum/images/theses.png"
          alt="Theses and Dissertations"
        />
      </div>
      <div class="card-body">
        <h2 class="card-title">Theses and Dissertations</h2>
        <div class="divider"></div>
        <div class="card-text">
          DRUM includes all
          <a href="http://hdl.handle.net/1903/3">UMD theses and dissertations</a>
          from 2003 forward.
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h2>{{ 'communityList.title' | translate }}</h2>
      <h3>{{ 'community_group.faculty.title' | translate }}</h3>
      <ds-cg-community-list [communityGroupId]="FACULTY_COMMUNITY_GROUP" [size]="COMMUNITY_LIST_SIZE">
      </ds-cg-community-list>
      <h3 class="mt-4">{{ 'community_group.um.title' | translate }}</h3>
      <ds-cg-community-list [communityGroupId]="UM_COMMUNITY_GROUP" [size]="COMMUNITY_LIST_SIZE">
      </ds-cg-community-list>
    </div>
    <div class="col-sm-6">
      <ds-recent-item-list *ngIf="recentSubmissionspageSize>0"></ds-recent-item-list>
    </div>
  </div>
  <!-- End UMD Customization --->
</div>
