<ds-themed-results-back-button *ngIf="showBackButton | async" [back]="back"></ds-themed-results-back-button>
<div class="row" *ngIf="iiifEnabled">
  <div class="col-12">
    <ds-mirador-viewer id="iiif-viewer"
                   [object]="object"
                   [searchable]="iiifSearchEnabled"
                   [query]="iiifQuery$ | async">
    </ds-mirador-viewer>
  </div>
</div>

<div class="d-flex flex-row">
  <!-- UMD Customization -->
  <!-- Title -->
  <h2 class="item-page-title-field mr-auto">
    <ds-metadata-values [mdValues]="object?.allMetadata(['dc.title'])"></ds-metadata-values>
  </h2>
  <!-- End UMD Customization -->

  <ds-dso-edit-menu></ds-dso-edit-menu>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <!-- UMD Customization --->
    <!-- Left column -->

    <!-- Files -->
    <ng-container *ngIf="!(mediaViewer.image || mediaViewer.video)">
      <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
        <ds-themed-thumbnail [thumbnail]="object?.thumbnail | async"></ds-themed-thumbnail>
      </ds-metadata-field-wrapper>
    </ng-container>
    <div *ngIf="mediaViewer.image || mediaViewer.video" class="mb-2">
      <ds-themed-media-viewer [item]="object"></ds-themed-media-viewer>
    </div>
    <ds-themed-item-page-file-section [item]="object"></ds-themed-item-page-file-section>

    <!-- Publication or External Link -->
    <ds-item-page-uri-field [item]="object"
      [fields]="['dc.description.uri']"
      [label]="publicationLinkLabelI18nKey">
    </ds-item-page-uri-field>

    <!-- Date -->
    <ds-item-page-date-field [item]="object"></ds-item-page-date-field>

    <!-- Authors -->
    <ds-themed-metadata-representation-list class="ds-item-page-mixed-author-field"
      [parentItem]="object"
      [itemType]="'Person'"
      [metadataFields]="['dc.contributor.author', 'dc.creator']"
      [label]="'relationships.isAuthorOf' | translate">
    </ds-themed-metadata-representation-list>

    <!-- Advisor -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.contributor.advisor']"
      [label]="'item.page.advisor'">
    </ds-generic-item-page-field>

    <!-- Citation -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.identifier.citation']"
      [label]="citationLabelI18nKey">
    </ds-generic-item-page-field>

    <!-- DRUM DOI -->
    <ds-item-page-uri-field [item]="object"
      [fields]="['dc.identifier']"
      [label]="'item.page.doi'">
    </ds-item-page-uri-field>
  </div>
  <div class="col-xs-12 col-md-6">
    <!-- Right column -->

    <!-- Abstract -->
    <ds-item-page-abstract-field [item]="object"></ds-item-page-abstract-field>

    <!-- Notes -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.description']"
      [label]="'item.page.description'">
    </ds-generic-item-page-field>

    <!-- URI (handle) -->
    <ds-item-page-uri-field [item]="object"
      [fields]="['dc.identifier.uri']"
      [label]="'item.page.uri'">
    </ds-item-page-uri-field>

    <!-- Rights -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.rights', 'dc.rights.uri']"
      [label]="'item.page.rights'">
    </ds-generic-item-page-field>

    <!-- Collection -->
    <ds-item-page-collections [item]="object"></ds-item-page-collections>
    <!-- End UMD Customization --->
    <div>
      <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="button">
        <i class="fas fa-info-circle"></i> {{"item.page.link.full" | translate}}
      </a>
    </div>
  </div>
</div>
